 #mainMenu{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('/src/ui/assets/bckg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  overflow: hidden;
  display: flex;
}

.flexCol{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

#ceilSlime{
  width: 40%;
  transform: translateY(-40%) translateX(130%);
  z-index: 2;
}

#explosion{
  width: 160%;

  transform: translateY(-26%) translateX(-28%);
  z-index: 1;
}

#right{
  justify-content: center;
  align-items: center;
  gap: 22%;
}

#logo{
  width: 65%;
  z-index: 3;
}
