* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
  background-color: #000;
}

canvas#canvas {
  display: block;
  width: 100vw ;
  height: 100svh;
}

div#lockedCoursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

div#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: rgb(255, 255, 255);
}


div#root * {
  pointer-events: auto;
}